<div class="content container">
  <div class="row text-center">
        <div class="page-header">
          <h1 class="brand-heading">L'Ouest Americain</h1>
          <h2 class="brand-heading visible-lg">Cahiers de voyage</h2>
          <h3 class="brand-heading visible-md">Cahiers de voyage</h3>
          <h4 class="brand-heading visible-sm visible-xs">Cahiers de voyage</h4>
        </div>
        <br>
        <p class="intro-text"><b>Bienvenue sur ce site dédié à notre voyage dans l'Ouest Américain</b></p>
        <br>
        <br>
        <br>
        <div class="page-scroll">
          <a smooth-scroll-jquery target="parcours" ng-click="menuselected = 'parcours'" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
  </div>
</div>