<div class="content container" >
	<div class="row text-center">
		<div class="panel panel-default transparent-black">
			<div class="panel-body">
				<p class="lead">
					<h1>Contact</h1>
				</p>
				<br>
				<img ng-src="images/media/contact.png" alt="" class="img-thumbnail transparent">
				<br><br><br>
				<p class="lead">Have a question about this site?</p>
				<p>Feel free to send me a message on linkedin, or drop me a line in Twitter!</p>
				<ul class="list-inline list-social">
					<li><a href="https://twitter.com/pierre_taillard" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
					<li><a href="https://github.com/ptaillard" class="btn btn-link"><i class="fa fa-github fa-fw"></i> Github</a></li>
					<li><a href="http://fr.linkedin.com/pub/taillard-pierre/6/276/254" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
				</ul>
				<br><br>
			</div>
		</div>
	</div>
</div>