<div class="content container">
	<div class="row text-center">
		<div class="panel panel-default transparent-white shadow">
			<div class="panel-body">
				<h1 class="visible-lg">
					Galerie de photos
				</h1>
				<h2 class="visible-md">
					Galerie de photos
				</h2>
				<h4 class="visible-sm visible-xs">
					Galerie de photos
				</h4>
				<button class="btn btn-default" ng-show="isStartedSlideshow()" ng-click="stopSlideshow()">Arrêter le diaporama</button>
				<button class="btn btn-default" ng-hide="isStartedSlideshow()" ng-click="startSlideshow()">Lancer le diaporama</button><br><br>

				<!--p>Nous posterons de nouvelles photos tout au long de notre périple!</p>
				{{error}}-->
				<div ng-repeat="photo in photos" ng-show="isActive($index)" class="text-center">
				    <div class="container slider slider-size">

				        <img class="slide img-rounded" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"  ng-src="{{photo.src}}" />

				        <span class="arrow prev" ng-click="showPrev()"></span>
				        <span class="arrow next" ng-click="showNext()"></span>

				    </div>
				    <div class="row text-center" ng-hide="photo.desc == ''">
					    <div class="col-md-offset-2 col-md-8 blockquote-size" ng-show="isActive($index)">
					    	<p>
					    		{{photo.desc}}<small><i> -- {{photo.auteur}} -- </i></small>
					    	</p>
					    </div>
					    <!--div class="col-md-2">
					    	<button class="btn btn-default btn-sm">Ajouter un commentaire</button>
					    </div-->
				    </div>
				    
		    	</div>
		    	<ul class="container navSlider navSlider-size">
		            <li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
		                <img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
		            </li>
		        </ul>

				<!--div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="..." alt="...">
				      <div class="carousel-caption">
				        ...
				      </div>
				    </div>
				    ...
				  </div>

				  
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div-->
				<br><br>
			</div>
		</div>
	</div>
</div>

