<div>
  <nav class="navbar navbar-fixed-top navbar-default" ng-class="{navbaraccueil: menuselected == 'accueil'}"  role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
         <li smooth-scroll-jquery target="accueil" ng-class="{active: menuselected == 'accueil'}" ng-click="menuselected = 'accueil'">
            <a>Accueil</a>
          </li>
          <li smooth-scroll-jquery target="parcours" ng-class="{active: menuselected == 'parcours'}" ng-click="menuselected = 'parcours'" >
            <a>Parcours</a>
          </li>
          <li smooth-scroll-jquery target="notes" ng-class="{active: menuselected == 'notes'}" ng-click="menuselected = 'notes'">
            <a>Etapes</a>
          </li>
          <li smooth-scroll-jquery target="gallery" ng-class="{active: menuselected == 'gallery'}" ng-click="menuselected = 'gallery'">
            <a>Galerie</a>
          </li>
          <li smooth-scroll-jquery target="contact" ng-class="{active: menuselected == 'contact'}" ng-click="menuselected = 'contact'">
            <a>Contact</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
