<div class="content container">
	  <div class="row">
		<div class="panel panel-default transparent-white">
			<div class="panel-body text-center">
				<h1 class="visible-lg">Etapes et informations</h1>
				<h2 class="visible-md">Etapes et informations</h2>
				<h4 class="visible-sm visible-xs">Etapes et informations</h4>
				<div class="panelFixed panel-group text-left" id="accordion">
				  <div class="panel panel-default" ng-repeat="etape in etapes">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{etape.id}}">
				          <img width="30" height="30" ng-src="images/media/etapes/{{etape.image}}" alt="{{etape.title}}" class="img-rounded"> <small>{{$index+1}}/{{etapes.length}}</small> {{etape.title}} <small><i>{{etape.date}}</i></small>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse{{etape.id}}" class="panel-collapse collapse">
				    	<dl class="dl-horizontal">
					  		<dt>
					  			<img ng-src="images/media/etapes/{{etape.image}}" alt="{{etape.title}}" class="img-thumbnail">
					  		</dt>
					  		<dd>
					  			<ul class="list-group">
							      	<li class="list-group-item"><b>Durée de l'étape:</b> {{etape.dateinfos}}</li>
								    <li class="list-group-item">
								    	<p class="text-info" >
								    		<div ng-include="informations(etape)"><br/></div>
								    	</p>
								   	</li>
								    <li class="list-group-item"><b>Hôtel réservé:</b> {{etape.hotel}}</li>
							    </ul>
					  		</dd>
						</dl>
				      	
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
