<div class="content container">
	<div class="row text-center">
		<div class="panel panel-default transparent-white shadow">
			<div class="panel-body">
				<h1 class="visible-lg">Notre parcours</h1>
				<h2 class="visible-md">Notre parcours</h2>
				<h4 class="visible-sm visible-xs">Notre parcours</h4>
				<google-map center="map.center" zoom="map.zoom" draggable="true">
					<markers models="map.markers" coords="'self'" click="'onClicked'" fit='true' labelAnchor="22 0" labelClass="marker-labels">
			            <windows isIconVisibleOnClick="false" closeClick="'closeClick'" ng-cloak>
			                <b><p ng-non-bindable>{{title}}</p></b>
			                <p ng-non-bindable>{{date}}
			                <p ng-non-bindable class="muted"><i>{{information}}</i></p>
			            </windows>
			   		</markers>
				</google-map>
				<br><br>
			</div>
		</div>
	</div>
</div> 