<div>
	<p>
		Barstow sera une pause sur notre route de San Francisco au Grand Canyon car il y a 1500 km!!
    </p>
    <p>
	    On profitera de cet arrêt pour aller visiter une ville de cowboys <b>Calico</b> ainsi que acheter quelques fringues (enfin si l'on a le temps) dans les Outlets du coin!
	    Puis on prendra la <b>mythique route 66</b> direction <b>Kingman</b>, notre prochain arrêt sur la route du Grand Canyon!
	    On passera pour se rendre à Kingman par <b>Oatman</b>, une ancienne ville minière abandonnée.
	</p>
</div>
