<div>
	<p>L'avion atterrit à 13h après 12h de vol... Nous récupérerons de notre voiture et direction l'hotel sur Lombard Street.
		<br>
		A San Francisco, on a prévu de faire pas mal de chose, d'ailleurs, on a acheté le City Pass...
		<br>
		On va faire comme tout bon touriste, un trajet en <b>Cable Car</b>, la visite de l'<b>aquarium</b>, promenade sur <b>Pier 39</b>, flaner du coté de <b>Haight Asbury Street</b>.
		On ira surement faire un tour dans le park du Golden Gate.
		<br>
		Notre planning pour mercredi est de passer la journée à Greg, Victor et Zoe. Greg nous a prévu un petit parcours dans une forêt de Séquoia(<b>Muir Woods</b>) puis il a prévu de nous amener à <b>point reyes station</b>, une petite ville typique californienne. Et pour y aller, on traversera le <b>Golden Gate Bridge</b>.
		<br>
		Je suis aussi impatient de montrer à Roman et Emy la petite colline où je jouais de la guitare pendant des heures...
	</p>
</div>
