<div>
	<p>L'avion atterrit à 13h après 12h de vol... Nous récupérerons de notre voiture, que dis-je, ENORME voiture américaine chez Avis.
		<br>
		Après je pense que l'on risque de comater jusqu'au couché!!
		<br>
		A San Francisco, on a prévu de faire pas mal de chose, d'ailleurs, on a acheté le City Pass...
		<br>
		On fera comme tout bon touriste, un trajet en <b>Cable Car</b>, la visite de l'<b>aquarium</b>, promenade sur <b>Pier 39</b>, flaner du coté de <b>Haight Asbury Street</b>,
		se perdre dans le plus beau parc que j'ai vu: le <b>Golden Gate Park</b>, puis le <b>Golden Gate</b> et enfin un petit tour dans le <b>Downtown</b>.
		<br>
		Greg (un ami de San Francisco) va nous faire visiter le coin. On a aussi rendez vous à diner avec sa famille! Ca va être sympa de voir Roman, Emy et sa fille Zoe discuter ensemble. 
	</p>
</div>
