/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    margin: 0 0 20px;
}

h2 {
    margin: 0 0 10px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.list-group {
  border: none;
}

/* Slides */
.page {
  height: 100%;
  border-box: box-sizing;
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	padding-top: 70px;
	height: 100%;
	overflow: hidden;
}

.transparent {
  color: black;
  border: none;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.0);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent-white {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent-black {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6000000,endColorstr=#A6000000); 
}

.panelFixed {
  height: 600px;
  overflow-y: auto; 
}

.shadow {
  -webkit-box-shadow: 1px 1px 25px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    1px 1px 25px 0px rgba(50, 50, 50, 1);
  box-shadow:         1px 1px 25px 0px rgba(50, 50, 50, 1);
}

h1 {
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}