.navbar-default {
  background-color: #000;
  border-color: #000;
  border-radius: 0px !important;
  -moz-box-shadow: 1px 1px 5px 0px #000;
  -webkit-box-shadow: 1px 1px 5px 0px #000;
  -o-box-shadow: 1px 1px 5px 0px #000;
  box-shadow: 1px 1px 5px 0px #000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=134, Strength=5);

  -webkit-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
  transition: opacity .5s ease-in-out,padding .5s ease-in-out;

  -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
  transition: padding .5s ease-in-out,padding .5s ease-in-out;
}

.navbaraccueil {
  opacity: 0.6;
  font-size: 1.2em;
  padding-top: 30px;
  -webkit-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out,padding .5s ease-in-out;
  transition: opacity .5s ease-in-out,padding .5s ease-in-out;

  -webkit-transition: padding .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out,padding .5s ease-in-out;
  transition: padding .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-default .navbar-brand {
  color: #D29772;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FF6C3C;
}
.navbar-default .navbar-text {
  color: #D29772;
}
.navbar-default .navbar-nav > li > a {
  color: #D29772;
  border-bottom: 3px #D29772 solid;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #A48A79;
  border-bottom: 3px #A48A79 solid;
  cursor: pointer;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FF6C3C;
  background-color: #000;
  border-bottom: 3px #FF6C3C solid;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FF6C3C;
  background-color: #000;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #D29772;
}
.navbar-default .navbar-collapse {
  margin-right: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #D29772;
}
.navbar-default .navbar-link {
  color: #D29772;
}
.navbar-default .navbar-link:hover {
  color: #FF6C3C;
}


@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #D29772;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FF6C3C;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FF6C3C;
    background-color: #000;
  }
}
