#notes {
	background-image:url('../images/media/background/notes.jpg');
}

#accordion {
  overflow-y: auto;
  height: 600px;
}

@media (max-width: 1200px) {
	#accordion {
	  overflow-y: auto;
	  height: 450px;
	}
}

@media (max-width: 992px) {
	#accordion {
	  overflow-y: auto;
	  height: 300px;
	}
}

@media (max-width: 768px) {
	#accordion {
	  overflow-y: auto;
	  height: 180px;
	}
}